{% extends "base_generic.html" %}

{% block content %}
    {% if perms.catalog.can_mark_returned %}
        <h1>All Borrowed books</h1>
    {% else %}
        <h1>My Borrowed books</h1>
    {% endif %}

    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %}
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-details' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}